<suite name="Test-method Suite" parallel="methods" thread-count="3">
    <test name="Smoke Deployment tests">
        <classes>
            <class name="org.goeuro.tests.SortingOnePageTest"/>
            <class name="org.goeuro.tests.SortingBusResultsTest"/>
            <class name="org.goeuro.tests.SortingMultyPageResultTest"/>
        </classes>
    </test>
</suite>